@use "../../../assets/sass/global_variables" as *;

.headerHome {
  background-color: $colourTen;
  color: $colourSix;
  display: flex;
  justify-content: space-between;
  height: 13vh;
  width: 100vw;
  align-items: center;
  font-family: $outfit;
  font-weight: 400;

  &__logo,
  &__buttons {
    display: flex;
    padding: 100px;
  }

  &__logo {
    gap: 0.5rem;
    img {
      height: 35px;
    }
  }

  &__buttons {
    display: flex;
    align-items: baseline;
  }

  &__links,
  &__buttons {
    gap: 2rem;
  }
}
