@use "../../assets/sass/global_variables" as *;

.navbar {

  &__nav-item {

    padding: 10px;
    padding-left: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $colourThree;
    
    &--icon {
      margin-right: 10px;
    }

    &--active {

      border-right: 5px solid $colourOne;
      .navbar__nav-item--icon {
        background-color: $colourEleven;
      }
      h3 {
        color: $colourOne;

      }

    }

    &:hover {
      cursor: pointer;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }

  }

}