@use "../../assets/sass/global_variables" as *;

.navbar {

  &__nav-item {

    padding: 10px;
    padding-left: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $colourThree;

    font-family: $inter;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    
    &--icon {
      padding: 5px;
      text-align: center;
      border-radius: 10px;
      margin-right: 10px;
      width: 20px;
    }

    &--active {

      border-right: 5px solid $colourOne;
      color: $colourOne;
      .navbar__nav-item--icon {
        background-color: $colourEleven;
      }

    }

    &:hover {
      cursor: pointer;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }

  }

}