.tiles{
  
  &__fund-box{
    position: absolute;
    border-radius: 20px 0px 20px 20px;
    padding-left: 10px;
    height: 150px;
    padding-top: 10px;
    width: 150px;
    background-color:#00CED4;
    color: white;
    z-index: 0;
    overflow: hidden;

    &__header{
      margin: 5px;
      z-index: 3;
    }

    &__amount{
      margin: 5px;
      overflow-wrap: break-word;
      z-index: 3;
    }

    &__semicircle{
      background-color:#37D8DD;
      height: 130%;
      width: 130%;
      border-radius: 50%;
      position: relative;
      left: 38%;
      top: -110%;
      z-index: -1;
    }
  }
}