@use "./../../assets/sass/global_variables" as *;

@mixin grey-16px-text {
  font-family: $outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #8896A3;
}

.transfer-page__recipient__card {
  background-color: #FBFBFC;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 53px 10px 22px;
  display: flex;
  width: 650px;
  justify-content: space-between;
  margin-bottom: 8px;
  
  &--left {
    display: flex;
  }

  &--right {
    display: flex;
    text-align: left;
  }
  
  &__bank-image {
    margin-right: 70px;
    width: 40px;
    height: 40px;
    margin-top: 6.5px;
  }

  &__sort-code {
    margin-right: 60px;
    width: 60px;
  }

  &__account-number {
    width: 75px;
  }

  p {
    @include grey-16px-text;
  }
}