@use "../../assets/sass/global_variables" as *;

.loginform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 601px;
    height: 589px;
    background-color: #FFFFFF;
    gap: 1em;
    
    &__brand {
        display: inline-flex;
        gap: 0.50em;

        &__logo {
            width: 32px;
            height: 32px;
        }

        &__name {
            font-size: 20px;
        }
    }


    &__email, &__password {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }

    &__links {
        display: flex;
        justify-content: space-between;

        &__signup {
            display: flex;
        }
    }
}

p {
     padding-top: 5px;
     font-family: $outfit;
     font-size: 16px;
}

