@use "../../assets/sass/global_variables" as *;

.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 601px;
    height: 589px;
    background-color: #FFFFFF;
}

