@use "./../../../assets/sass/global_variables" as *;

.make-transfer__confirmation {
  width: 626px;
  height: 720px;
  background: #FBFBFC;
  border-radius: 8px;
  padding: 25px 76px 25px;
  box-sizing: border-box;
  margin-top: 20px;

  h4,h5,h6,p {
    font-family: $outfit;
    font-style: normal;
    font-weight: 400;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
    color: #06020A;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
    color: #06020A;
    margin-bottom: 4px;
  }

  h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00CED4;
    margin-bottom: 8px;
  }

  &__from, &__to {
    width: 475px;
    height: 173px;
    background: #F3F3F3;
    border-radius: 8px; 
    padding: 25px 40px 25px 33px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__from {
    height: 173px;
  }

  &__to {
    height: 110px;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  &__border {
    margin-top: 15px;
    margin-bottom: 12px;
    border-top: 1px solid #E9E9E9;
  }

  &__info {
    margin-bottom: 26px;
  }

  &__totals {
    border-top: 1px solid #E5E5F0;
    border-bottom: 1px solid #E5E5F0;
    padding-top: 15px;
    padding-bottom: 15px;

    h4 {
      margin-bottom: 10px;
    }

    h6 {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px; 
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 18px;
  }

  &__split {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 12px;
      line-height: 15px;
      color: #6A6A6A;
    }
  }

  &__16px {
    p {
      font-size: 16px;
      color: #8896A3;
    }
  }

  &__subtext {
    margin-bottom: 5px;
  }
}