@use "../../assets/sass/global_variables" as *;

.liverate-row {
  background-color: $colourTen;
  margin-bottom: 10px;
  font: $inter;
  font-size: 18px;
  line-height: 20px;
  color: $colourThree;
  font-weight: 600;

  td {
    padding: 1rem;
  }

  td:last-child {
    display: flex;
    justify-content: flex-end;
  }

  &__currency {
    font-weight: 400;
  }
}

.liverate-row:nth-child(2) {
  background-color: $colourOne;
}
