@use "./../../assets/sass/global_variables" as *;

.transfer-page__transfer-form {
  background: #FBFBFC;
  border-radius: 8px;
  width: 626px;
  height: 600px;
  padding: 40px 76px;
  margin-top: 30px;
  margin-left: 45px;
  box-sizing: border-box;
  font-family: $outfit;
  
  button {
    font-size: 16px;
    font-weight: 600;
  }
}

h4 {
  margin-bottom: 15px;
}

.transfer-form-bar {

  font-family: $outfit;

  &__header {
    font-size: 24px;
    font-weight: normal;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DDDDDD;
    height: 50px;
    width: 472px;
    margin-bottom: 40px;
    padding: 13px 24px 15px 21px;
    box-sizing: border-box;
    background-color: #FFFFFF;

    &--left {
      display: flex;
      cursor: pointer;
    }

    p {
      margin-left: 0;
    }

    input {
      min-width: 60px;
      width: 80px;
      border: none;
      font-family: $outfit;
    }
  }

  &__flag {
    font-size: 4px;
    margin-right: 15px;
  }

  &__currency {
    font-size: 18px;
    margin: auto 0;
  }
  
  &__amount {
    font-size: 18px;
    margin-right: 0;
    text-align: right;
    right: 0;
  }

  &__input {
    border: 1.11772px solid #DDDDDD;
    box-sizing: border-box;
  }
}


span {
  margin-right: 14px;
}

.transfer-form-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-top: 1px solid #E5E5F0;
  border-bottom: 1px solid #E5E5F0;
  height: 150px;
  padding-bottom: 32px;
  box-sizing: border-box;
  justify-content: space-between;

  &__rate {
    display: flex;
    justify-content: space-between;
  }

  &__fee {
    display: flex;
    justify-content: space-between;

  }
  
  &__delivery {
    display: flex;
    justify-content: space-between;

  }
}

.transfer-form-continue {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;

  &__total {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 25px;

    p {
      font-family: $inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #8896A3;
    }
  }

}