@use "./../../assets/sass/global_variables" as *;

.transfer-page__transfer-form {
  background: #FBFBFC;
  border-radius: 8px;
  width: 626px;
  height: 600px;
  padding: 40px 76px;
  margin-top: 30px;
  margin-left: 45px;
  box-sizing: border-box;
}

h4 {
  margin-bottom: 15px;
}

.transfer-form-bar {

  font-family: $outfit;

  &__header {
    font-size: 24px;
    font-weight: normal;
  }

  &__container {
    display: flex;
    width: 100%;
    border: 1px solid #DDDDDD;
    height: 50px;
    width: 472px;
    margin-bottom: 40px;
  }

  &__flag {
    font-size: 4px;
    margin-right: 15px;
  }

  &__currency {
    font-size: 18px;
    margin-right: 135px;
  }
  
  &__amount {
    font-size: 18px;
  }

  &__input {
    border: 1.11772px solid #DDDDDD;
    box-sizing: border-box;
  }
}

.transfer-form-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E5E5F0;
  border-bottom: 1px solid #E5E5F0;
  height: 150px;
  padding-bottom: 32px;
  box-sizing: border-box;

  &__rate {
    display: flex;
    justify-content: space-between;

  }

  &__fee {
    display: flex;
    justify-content: space-between;

  }
  
  &__delivery {
    display: flex;
    justify-content: space-between;

  }
}

.transfer-form-continue {
  display: flex;

  &__total {
    display: flex;
    flex-direction: column;
  }

}