@use "../../../assets/sass/global_variables" as *;

.home {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding-bottom: 4rem;

  background: linear-gradient(to bottom, $colourTen 40%, $colourEleven);

  &__title {
    padding-top: 2rem;
  }

  &__p {
    max-width: 300px;
    text-align: center;
  }

  &__img {
    max-width: 850px;
    border: 1px solid grey;
  }
}

@media screen and (max-width: 600px) {
  .home {
    justify-items: center;
    padding-top: 80px;
    height: 600px;
    padding-right: -20px;

    &__img {
      display: none;
    }
  }
}