@use "../../assets/sass/global_variables" as *;

.liverate-table {
  width: 80%;
  margin: 2rem auto;

  &__body {
    text-align: left;
    color: $colourThree;

    &-headings {
      text-align: center;
    }
  }
}
