@use "../../assets/sass/global_variables" as *;

.liverate-table {
  width: 100%;
  margin: auto;

  &__body {
    text-align: left;
    color: $colourThree;

    &-headings {
      text-align: left;
      th {
        padding: 1rem;
      }
    }
  }
}
