@use "../../../assets/sass/global_variables" as *;

.footer {
  background-color: $colourSix;
  color: $colourEleven;
  display: flex;
  justify-content: space-between;
  height: 13vh;
  align-items: center;
  font-family: $outfit;
  font-weight: 400;
  padding-left: 100px;
  padding-right: 100px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .image {
      height: 35px;
    }
  }
}
