@use "../../../assets/sass/global_variables" as *;

.footer {
  background-color: $colourSix;
  color: $colourEleven;
  display: flex;
  justify-content: space-around;
  height: 13vh;
  align-items: center;
  font: $outfit;
  width: 100%;
  font-weight: 400;

  &__logo,
  &__links {
    display: flex;
    align-items: center;
  }

  &__logo {
    gap: 0.5rem;
  }
  &__links {
    gap: 2rem;
  }
}
