@use "../../assets/sass/global_variables" as *;

.liverate-row {
  background-color: $colourTen;
  margin-bottom: 10px;
  font: $inter;
  font-size: 18px;
  line-height: 20px;
  color: $colourThree;
  font-weight: 600;

  td {
    padding: 1rem;
  }

  td:last-child {
    display: flex;
    justify-content: flex-end;
  }

  &__currency {
    font-weight: 400;
  }

  &__input {
    padding: 5px;
    min-width: 100px;
    min-height: 35px;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    gap: 5px;
    font-family: $inter;
    color: $colourThree;

  }
}

.liverate-row:nth-child(2) {
  background-color: $colourOne;
}
