@use "../../../assets/sass/global_variables" as *;

.features {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  background-color: $colourTen;
  height: 55vh;

  &__title {
    padding-left: 50px;
  }

  &__items {
    display: flex;
    align-items: baseline;
    gap: 4rem;
  }

  &__item {
    display: grid;
    justify-items: center;
    gap: 1.2rem;
    max-width: 400px;

    &__icon {
      color: $colourEight;
    }

    &__p {
      text-align: center;
    }
  }

  &__button {
    width: 300px;
    display: grid;
    justify-items: center;
  }
}
