.wallet-page {
  margin: 90px 65px 0px 295px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  &__banner {
    display: flex;
    gap: 10px;
  }

  &__logo {
    display: none;
    width: 40px;

  }
}

@media screen and (max-width: 600px) {
  .wallet-page {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
    overflow-x: hidden;

    &__logo {
      display: block;
    }
  }
}