@use "../../assets/sass/global_variables" as *;

* {
  margin: 0;
  padding: 0;
}

.navbar {
  border-right: 2px solid $colourEleven;
  height: 100vh;
  width: 230px;

  &__header {
    margin-top: 10px;
    margin-bottom: 30px;

    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      img {
        width: 32px;
        height: 32px;
      }
      h2 {
        color: $colourSix;
      }
    }
  }

}
