* {
  margin: 0;
  padding: 0;
}

.navbar {
  border-right: 2px solid #f3f3f3;
  height: 100vh;
  width: 230px;

  &__header {
    margin-bottom: 30px;

    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #343C49;
    }
  }

  &__menu {
    color: #A6AFBD;
  }
}
