.convert-page {
  margin: 65px 65px 0 235px;
  width: 100%;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__dropDown {
    display: flex;
  }
}

.tiles {
  display: flex;
  gap: 20px;
}
