@use "../../assets/sass/global_variables" as *;

body {
  font-family: $outfit;
  font-weight: 400;
}

.deposit-page {
  margin: 90px 65px 0px 295px;
}

.deposit-form {
  margin-top: 50px;
  padding-top: 30px;
  background-color: #fbfbfc;
  // padding: 40px 60px;
  width: 600px;
  height: 450px;

  &__title {
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 24px;
  }
  &__table {
    margin: 10px auto;
    padding: 20px;
    background-color: $colourEleven;
    width: 455px;
    height: 200px;
    border-radius: 6px;

    h5 {
      color: $colourOne;
    }
    table {
      width: 455px;
    }
    tr {
      height: 30px;
      color: $colourThree;
    }
  }
}

.righty {
  text-align: right;
  color: $colourFour;
}

.button {
  margin: 0 auto;

  button {
    color: white;
    background-color: $colourOne;
    height: 40px;
    width: 150px;
    font-family: $inter;
    font-weight: 500;
    border: none;
    border-radius: 3px;
  }
}
// button needs bem name & nesting into correct parent; button styling needs checking too
// also weird shadow that appears when selecting the button
