@use "../../assets/sass/global_variables" as *;

/* Modern Reset */

/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: $outfit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.adding-height {
  min-height: 70vh;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  max-height: 250px;
  padding: 1rem 0 1rem 0;
}
