@use "../../../assets/sass/global_variables" as *;

.blue {
  background: linear-gradient(150deg, $colourOne 50%, #fcfcfc 50%);
  color: $colourEleven;
}

.white {
  color: $colourFour;
  background: linear-gradient(150deg, #fcfcfc 50%, $colourOne 50%);
}
.extraPadding {
  padding: 45px;
}
.section {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2rem;

  &__title {
    display: grid;
    justify-content: center;
    font-size: 32px;
  }

  &__p {
    max-width: 400px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 50px;
  }

  &__img {
    border: 1px solid grey;
  }
}

.hide {
  display: none;
}
