$highlightColour: #00ced4; /*for buttons*/
$lightestBackgroundGrey: #dddddd;
$lighterGreyBackground: #fbfbfc;
$lightGreyBackground: #f3f3f3;
$accountNumberColour: #6a6a6a;
$mainColour: #8896a3;
$fontGrey: #a6afbd; /*slightly darker grey for navbar links & search bar*/
$menuColour: #343c49;
$currencyColour: #06020a;
$redColour: #df1c1c; /*trash can icon / invalid login */
$loginFieldBackgroundColour: #e2e2e2;
$loginLabelsColour: #5b6d7d;
$loginPageBackgroundColour: #f6fcfc;
$horizontalRule: #f1f1f1;
